[submodule "Skull/vendor/spdlog"]
	path = Skull/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Skull/vendor/GLFW"]
	path = Skull/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
